<div class="layout-2-column cf-component bg-lightgray ">
  <div class="container">
    <div class="column-wrapper">
      <div data-equalizer data-equalizer-mq="medium-up" class="row">
        <div class="all column-1 large-6 medium-12 white-boxes padding-bottom-none-small columns">
          <section data-equalizer-watch>
            <img src="images/team.jpg" alt="" />
            <div class="white-box">
              <form id="contactform" action="https://www.enformed.io/g5mjxvfj" method="POST" class="form">

                <label for="name" class="label">Your Name</label>
                <br />
                <input class="txt-area" type="text" name="name" />
                <br />
                <br />

                <label for="email" class="label">Email Address</label>
                <br />
                <input type="email" name="_replyto" class="txt-area" />
                <br />
                <br />

                <label for="phone" class="label">Phone Number</label>
                <br />
                <input class="txt-area" type="number" name="name" />
                <br />
                <br />

                <label for="message" class="label">Message</label>
                <br />
                <textarea name="message" class="txt-area"></textarea>
                <br />
                <br />

                <!-- <input type="text-area" name="message" class="input" style="height: 75px;"> -->
                <input type="submit" value="Send" class="button" />

                <input type="hidden" name="_subject" value="Website contact" />
                <input type="hidden" name="_gotcha" />

              </form>
            </div>




          </section>

        </div>
        <div class="all column-2 large-6 medium-12 grey-boxes padding-medium padding-bottom-none-small columns">
          <section>
            <div class="padding-medium font-light">
              <p class="margin-bottom-none color-lightgray">FOR ORDER & INQUIRIES PLEASE CALL:</p>
              <h2 class="">801-699-7485</h2>
              <p class="margin-bottom-none color-lightgray">OR YOU CAN VISIT US AT:</p>
              <h2>HIGH MOUNTAIN HOME INSPECTIONS OGDEN, UT 84404</h2>
              <p class="margin-bottom-none color-lightgray">OR EMAIL US AT:</p>
              <a href="mailto:highmountainhomes@gmail.com" class="color-white">
                <h2>highmountainhomes@gmail.com</h2></a>
            </div>



          </section>

        </div>
      </div>
    </div>
  </div>
</div>
