<div class="layout-2-column cf-component bg-white">
  <div class="container">
    <div class="column-wrapper">
      <div data-equalizer data-equalizer-mq="medium-up" class="row">
        <div class="all column-1 large-6 medium-12  columns">
          <section data-equalizer-watch>
            <h2 class="color-red"><i>"Big League Service with a Small Town Feel"</i></h2>
            <p class="max-width-500">Although the home inspection portion of your transaction is only one step to making a wise decision, it can play a BIG role in present and future costs associated with home ownership!</p>
            <button ui-sref="contact">SCHEDULE AN INSPECTION</button>

          </section>

        </div>
        <div class="all column-2 large-6 medium-12 columns">
          <section data-equalizer-watch>
              <iframe width="100%" height="315" src="https://www.youtube.com/embed/b4w7OvfVwCI?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>


          </section>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="layout-3-column cf-component grey-boxes padding-top-small padding-bottom-none">
  <div class="container">
    <div class="column-wrapper">
      <div data-equalizer class="row collapse">
        <div class="all column-1 large-4 medium-4 small-12   columns">
          <section>
            <a ui-sref="services" class="color-white">
              <p class="text-center">Services</p>
              <img src="images/kitchen.jpg" alt="" />
            </a>

          </section>

        </div>
        <div class="all column-2 large-4 medium-4 small-12   columns">
          <section>
            <a ui-sref="about" class="color-white">
              <p class="text-center">About Us</p>
              <img src="images/team.jpg" alt="Kory Crew" />
            </a>

          </section>

        </div>
        <div class="all column-3 large-4 medium-4 small-12   columns">
          <section>
            <a ui-sref="contact" class="color-white">
              <p class="text-center">Contact</p>
              <img src="images/fence.jpg" alt="" /></a>

          </section>

        </div>
      </div>
    </div>
  </div>
</div>
