<div class="layout-2-column cf-component bg-lightgray">
  <div class="container">
    <div class="column-wrapper">
      <div data-equalizer data-equalizer-mq="medium-up" class="row">
        <div class="all column-1 large-6 medium-12 white-boxes columns">
          <section data-equalizer-watch>
            <img src="images/desk.jpg" alt="" />
            <div class="white-box">
              <p class="color-red">Exterior</p>
              <ul>
                <li> Secure wall cladding, trim.</li>
                <li> Paint all exterior wood.</li>
                <li> Monitor concrete for settlement</li>
              </ul>
              <p class="color-red"> Roof</p>
              <ul>
                <li>Monitor shingles.</li>
                <li>Install and maintain gutter system.</li>
                <li>Secure fascia, soffit, trim.</li>
                <li>Direct water away from foundation and high traffic areas.</li>
              </ul>
              <p class="color-red"> HVAC </p>
              <ul>
                <li>Cover A/C unit with canvas (breathable) cover during winter.</li>
                <li>Insulate exterior refrigerant lines.</li>
                <li>Clean filter around compression unit.</li>
                <li>Change air filter often</li>
                <li>Have "green sticker" service annually.</li>
                <li>Maintain condensate line. </li>
              </ul>
              <p class="color-red"> Plumbing </p>
              <ul>
                <li>Get a water softener! (Contact us for more information.)</li>
                <li>Secure toilets.</li>
                <li>MONITOR for leaks. (Because they are inevitable)</li>
                <li>Drain water heater 1 time per year. </li>
              </ul>
              <p class="color-red"> Electical </p>
              <ul>
                <li>Install cove plates.</li>
                <li>Install cove plates.</li>
                <li>Test GFCI's often.</li>
                <li>Label panel box clearly. </li>
              </ul>
              <p class="color-red"> Misc </p>
              <ul>
                <li>Install ceiling cans.</li>
                <li>Vacuum often.</li>
                <li>Clean/Maintain your jetted tub.</li>
                <li>Update your insulation! (Contact us for more information.) </li>
              </ul>
            </div>

          </section>

        </div>
        <div class="all column-2 large-6 medium-12 grey-boxes padding-medium columns">
          <section>
            <div class="padding-medium font-light">
              <p class="margin-bottom-none color-lightgray">FOR ORDER & INQUIRIES PLEASE CALL:</p>
              <h2 class="">801-699-7485</h2>
              <p class="margin-bottom-none color-lightgray">OR YOU CAN VISIT US AT:</p>
              <h2>HIGH MOUNTAIN HOME INSPECTIONS OGDEN, UT 84404</h2>
              <p class="margin-bottom-none color-lightgray">OR EMAIL US AT:</p>
              <a href="mailto:highmountainhomes@gmail.com" class="color-white">
                <h2>highmountainhomes@gmail.com</h2></a>
            </div>




          </section>

        </div>
      </div>
    </div>
  </div>
</div>
