<div class="layout-2-column cf-component bg-lightgray">
  <div class="container">
    <div class="column-wrapper">
      <div data-equalizer data-equalizer-mq="medium-up" class="row">
        <div class="all column-1 large-6 medium-12 white-boxes columns">
          <section data-equalizer-watch>
            <img src="images/chairs.jpg" alt="" />
            <div class="white-box">
              <p class="color-red"> Pre-Listing Home Inspection </p>
              <p class="color-red"> Infrared Imaging </p>
              <p class="color-red"> Radon Testing NRPP#107168RT </p>
              <p class="color-red"> Lead Base Paint Testing </p>
              <p class="color-red"> Asbestos Testing </p>
              <p class="color-red"> Mold/Air Quality Sampling(Spore traps) </p>
              <p class="color-red"> Main Sewer Line Scope/Camera </p>
              <p class="color-red"> Methamphetimine Testing </p>
              <p class="color-red"> Termite Inspections </p>

              <p>Your report will contain many details from materials, structures and finishes. We include dozens of pictures along with model reference numbers, as well as recommendations and reasonings for repair items listed. We highly encourage you to
                be present at the end of the inspection for a final walk through to allow us to summarize our findings. We take pride in taking as much time as you need to gain a better understanding of your investment! Download the Investment Property
                Disclosure/Agreement here:
                <a href="images/Landlord.pdf" class="cp;pr=">Investment Property Disclosure/Agreement </a>
              </p>

            </div>

          </section>

        </div>
        <div class="all column-2 large-6 medium-12 grey-boxes padding-medium columns">
          <section>
            <div class="padding-medium font-light">
              <p class="margin-bottom-none color-lightgray">FOR ORDER & INQUIRIES PLEASE CALL:</p>
              <h2 class="">801-699-7485</h2>
              <p class="margin-bottom-none color-lightgray">OR YOU CAN VISIT US AT:</p>
              <h2>HIGH MOUNTAIN HOME INSPECTIONS OGDEN, UT 84404</h2>
              <p class="margin-bottom-none color-lightgray">OR EMAIL US AT:</p>
              <a href="mailto:highmountainhomes@gmail.com" class="color-white">
                <h2>highmountainhomes@gmail.com</h2></a>
            </div>




          </section>

        </div>
      </div>
    </div>
  </div>
</div>
